.nav{
    background: #000;
    height: 80px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    @media screen and (max-width: 960px){
        transition: 0.8s all ease
    }
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}
/* its basically link from react router */
.logo{
    color: '#fff';
    justify-self: flex-start;
    cursor: pointer;
    align-items: center;
}